.content {
  color: white !important;
}
.icon {
  width: 190px;
  height: 170px;
}
.centered-text {
  text-align: center;
}
.allign-div {
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.form-fields {
  border: none;
  align-self: center;
  width: auto;
}
.allign-form {
  display: flex;
  flex-direction: column;
}
.vertical-center {
  margin: auto;
  width: 50%;
  padding: 10px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%) translateX(50%);
  transform: translateY(-50%) translateX(50%);
}
@media screen and (max-width: 1050px) {
  .vertical-center {
    margin: auto;
    padding: 10px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .icon {
    width: 120px;
    height: 100px;
  }
  h5 {
    font-size: xx-large !important;
    font-family: Charmonman;
  }
}
h5 {
  font-size: -webkit-xxx-large;
  font-family: Charmonman;
}
h4 {
  font-weight: normal !important;
}
a {
  font-family: Charmonman;
  text-decoration: none;
  color: white !important;
  font-weight: bold;
  font-size: 1.6em;
}
