<div class="content" role="main">
  <div
    style="
      margin: auto;
      width: 50%;
      padding: 10px;
      display: flex;
      justify-content: center;
    "
  >
    <form [formGroup]="form">
      <div style="display: flex; flex-direction: column">
        <label>Selecione sua data de nascimento:</label>
        <input type="date" id="datePicker" formControlName="birthDate" />
        <button (click)="validateInput()">Executar</button>
        <input type="text" value="{{ this.form.value.frase }}" disabled />
      </div>
    </form>
  </div>
</div>
