<div class="content centered-text" role="main">
  <div class="vertical-center">
    <img src="/assets/images/icon-image.png" class="icon" />
    <h5>CONHEÇA SUA LUZ</h5>
    <p></p>
    <h4>VIVA UMA VIDA MAIS LEVE E PRÓSPERA ATRAVÉS DAS SUAS ENERGIAS</h4>
    <p></p>
    <h4>
      Comece descobrindo a energia que é a chave do seu sucesso através da sua
      data de nascimento
    </h4>
    <p></p>
    <div class="allign-div">
      <form [formGroup]="form">
        <div class="allign-form">
          <label>Coloque aqui sua DATA DE NASCIMENTO:</label>
          <p></p>
          <input
            type="date"
            id="datePicker"
            class="centered-text form-fields form-control"
            formControlName="birthDate"
            (change)="calculateDate()"
          />
          <p></p>
          <div *ngIf="this.form.value.frase">
            <label type="text" class="centered-text" disabled
              >{{ this.form.value.frase }}
            </label>
            <p></p>
            <label>
              Para saber o que isto significa e saber as outras energias, que
              complementam seu propósito e trazem maior leveza para sua vida,
              clique no link abaixo:
            </label>
            <a href="{{ this.form.value.link }}" (click)="clearForm()">
              CONHEÇA SUA LUZ
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
