/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@font-face {
  font-family: "Charmonman";
  src: url("assets/Charmonman-Regular.ttf");
}
body {
  background-image: url("/assets/images/background-image.jpeg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
